<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="_header :: header(~{::title})">
    <title>memo list</title>
</head>
<body class="bg-light">

<th:block th:replace="_nav :: nav"/>

<main role="main" class="container">
    <div class="py-5 text-center">
        <h2>memo list</h2>
    </div>

    <div>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>description</th>
                <th>done</th>
                <th>updated</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memo, stat : ${memos}" th:object="${memo}">
                <td th:text="*{id}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{description}"></td>
                <td th:text="*{done == true} ? 'Done' : 'Not Yet'"></td>
                <td th:text="*{#temporals.format(updated, 'yyyy/MM/dd a HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<th:block th:replace="_include :: basic"/>
</body>
</html>
