<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="_header :: header(~{::title})">
    <title>thymeleaf simple demonstration</title>
</head>
<body class="bg-light">
<th:block th:replace="_nav :: nav"/>

<main role="main" class="container">
    <div>
        <h2>text</h2>
        <p th:text="${text}">text</p>
    </div>
</main><!-- /.container -->

<th:block th:replace="_include :: basic"/>
</body>
</html>